<div class="row">

  <!-- Carte : Gains Totals -->
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card bg-secondary-dark text-white overflow-hidden">
      <span class="round secondary-round small"></span>
      <span class="round secondary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-credit-card f-24"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <a type="button" class="avatar avatar-xs bg-secondary dropdown-toggle arrow-none" ngbDropdownToggle>
                <i class="ti ti-dots"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <li><button class="dropdown-item" type="button">Importer Carte</button></li>
                <li><button class="dropdown-item" type="button">Exporter</button></li>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-white d-block f-34 f-w-500 my-2">
          {{ globalStats.totalEarnings | currency:'USD' }}
          <i class="ti ti-circle-arrow-up-right opacity-50"></i>
        </span>
        <p class="mb-0 opacity-50">Gains Totals</p>
      </div>
    </div>
  </div>

  <!-- Carte : Revenu Total -->
  <div class="col-xl-4 col-md-6">
    <div class="card total-income-card overflow-hidden bg-primary-dark text-white">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon m-r-5">
            <i class="text-white ti ti-layout-board-split f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white f-w-600 mb-1">
              {{ globalStats.totalIncome | currency:'USD' }}
            </h4>
            <p class="mb-0 opacity-50 text-sm">Revenu Total</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Carte : Taux d'Occupation -->
  <div class="col-xl-4 col-md-12">
    <div class="card total-income-card overflow-hidden bg-warning text-dark">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-dark ti ti-box f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">{{ occupancyRate }}%</h4>
            <p class="mb-0 opacity-50 text-sm">Taux d’occupation des boxes</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Graphique : Revenus Mensuels -->
  <div class="col-xl-8 col-md-12">
    <app-chart-data-month [monthlyData]="revenueByMonth"></app-chart-data-month>
  </div>

  <!-- Graphique barre : Revenus par boutique -->
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <h4>Revenus par boutique</h4>
        <ul class="list-group list-group-flush mt-2">
          <li *ngFor="let b of revenueByBoutique" class="list-group-item px-0">
            <div class="d-flex justify-content-between">
              <span>{{ b.boutiqueName }}</span>
              <span>{{ b.totalRevenue | currency:'USD' }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Carte : Statut des loyers -->
 <!-- Carte : Statut des loyers -->
<!-- Carte : Statut des loyers -->
<div class="col-xl-6 col-md-12 mt-3">
  <div class="card">
    <div class="card-body">
      <h4>Statuts des loyers</h4>
      <ul class="list-group list-group-flush mt-2">
        <!-- 🔹 On utilise loyerStatusArray qui est bien un array -->
        <li *ngFor="let stat of loyerStatusArray" class="list-group-item px-0">
          <div class="d-flex justify-content-between">
            <span>{{ stat.key | titlecase }}</span>
            <span>{{ stat.value }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

  <!-- Carte : Paiements récents -->
  <div class="col-xl-6 col-md-12 mt-3">
    <div class="card">
      <div class="card-body">
        <h4>Derniers paiements</h4>
        <ul class="list-group list-group-flush mt-2">
          <li *ngFor="let p of recentPayments" class="list-group-item px-0">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="mb-0">{{ p.clientName }}</h5>
                <small class="text-muted">{{ p.amount | currency:'USD' }}</small>
              </div>
              <div>
                <h6 class="mb-0">{{ p.date | date:'shortDate' }}</h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>