<div id="styleSelector" class="menu-styler" [ngClass]="{ open: styleSelectorToggle }">
  <div class="pct-c-btn" >
    <a href="javascript:" (click)="styleSelectorToggle = !styleSelectorToggle">
      <i class="ph-duotone ph-shopping-cart"></i>
    </a>
  </div>
  <div class="style-block">
    <div class="customize-header">
      <h5>Panier</h5>
      <div class="d-inline-flex align-items-center gap-2">
        <button type="button" class="btn-close ms-1" aria-label="Close" (click)="styleSelectorToggle = !styleSelectorToggle"></button>
      </div>
    </div>
    <app-panier></app-panier>
  </div>
</div>
