<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="dropdown pc-h-item" >
        <a
          class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          routerLink="/panier">
          <i class="ph-duotone ph-shopping-cart"></i>
        </a>
        
      </div>
    </li>
    
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >
          <img [src]="userImage" [alt]="userName" class="user-avtar" />
          <span>
            <i class="ti ti-settings"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4>
              {{ greeting }},
              <span class="small text-muted">{{ userName }}</span>
            </h4>
            <p class="text-muted">{{ userRole }}</p>
            <hr />
            <ng-scrollbar style="height: calc(50vh - 140px)" visibility="hover">
              <a routerLink="/profile" class="dropdown-item">
                <i class="ti ti-user"></i>
                <span>Mon Profile</span>
              </a>
              <a (click)="logout()" class="dropdown-item">
                <i class="ti ti-logout"></i>
                <span>Se deconnecter</span>
              </a>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
