<div class="m-header">
  <a (click)="returnToHome()" class="b-brand">
    <!-- ========   change your logo hear   ============ -->
    <img src="assets/images/logo3.png" alt="darkMode-logo" class="logo" />
    <span class="brand-text brand-script">Royal Center</span>
      <!-- <img src="assets/images/logo-light.png" alt="lightMode-logo" class="logo"> -->
  </a>
  <!-- ======= Menu collapse Icon ===== -->
  <div class="pc-h-item">
    <button
      type="button"
      class="pc-head-link head-link-secondary m-0 mobile-menu border-0 bg-transparent"
      [ngClass]="{ on: navCollapsed }"
      (click)="navCollapse()"
      title="Cliquer pour replier le menu"
      aria-label="Replier le menu"
    >
      <i class="ti ti-menu-2"></i>
    </button>
  </div>
</div>

